:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

.pianoElement {
  border-radius: 10px;
  width: fit-content;
  background-color: rgb(24, 24, 24);
  padding: 50px 20px 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: none;
}

.pianoStripe {
  width: 100%;
  height: 10px;
}

#button {
  display: flex;
  position: relative;
  bottom: 30px;
  align-items: center;
}

#pianoButton {
  background-color: #575757;
  width: 30px;
  height: 15px;
}

#light {
  width: 10px;
  height: 10px;
  background-color: rgb(218, 89, 89);
  margin-left: 10px;
  border-radius: 100%;
}

#red {
    background-color: #7E0000;
}

#gray {
  background-color: #575757;
  display: flex;
  position: relative;
  bottom: 10px;
}

.pianoKeyboard {
  padding: 0px 4px;
  background-color: rgb(153, 153, 153);
  width: fit-content;
  display: flex;
  user-select: none;
  margin: auto;
  justify-content: center;
  gap: 3px;
}

.keyWrapper {
  display: flex;
}

.black {
  z-index: 10;
  position: absolute;
  padding: 0px 4px 2px 4px;
  transform: translateX(17px);
}

.white {
  z-index: 9;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .pianoKeyboard {
    justify-content: left;
  }

  .octave2 {
    display: none;
  }
}

@media only screen and (max-width: 490px) {
  .pianoKeyboard {
    width: 216px;
    
    justify-content: left;
  }
  .octave1 {
    display: none;
  }
}



